services:
  devops:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: devops-tools
    image: devops-tools:latest
    stdin_open: true
    tty: true
    volumes:
      - ./secrets/.kube:/home/devops/.kube:rw
      - ./secrets/.ssh:/home/devops/.ssh:rw
      - /var/run/docker.sock:/var/run/docker.sock
      - ./workspace:/workspace
    environment:
      - KUBECONFIG=/home/devops/.kube/config
    working_dir: /workspace
    command: /bin/bash
    scale: 1

  maildev:
    image: maildev/maildev
    container_name: maildev
    ports:
      - "1080:1080"
      - "25:1025"
    volumes:
      - ./data/maildev:/data
    restart: always
    scale: 1

  portainer:
    image: portainer/portainer-ce
    container_name: portainer
    command: -H unix:///var/run/docker.sock
    ports:
      - "9000:9000"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./data/portainer:/data
    restart: always
    scale: 1

  jmeter-master:
    image: justb4/jmeter:latest
    container_name: jmeter-master
    volumes:
      - ./data/jmeter/test.jmx:/test/test.jmx
      - ./data/jmeter/results:/test/results
      - ./data/jmeter/report:/test/report
      - ./data/jmeter/data:/test/data
    command: >
      -n -t /test/test.jmx
      -R jmeter-worker1,jmeter-worker2
      -l /test/results/results.jtl
      -e -o /test/report
    depends_on:
      - jmeter-worker1
      - jmeter-worker2
    scale: 0
  
  jmeter-worker1:
    image: justb4/jmeter:latest
    container_name: jmeter-worker1
    depends_on:
      - jmeter-worker2
    scale: 0

  jmeter-worker2:
    image: justb4/jmeter:latest
    container_name: jmeter-worker2
    scale: 0